.cocktailcard
  background: #eaeaea
  display: flex
  align-items: center
  justify-content: center
  display: grid
  grid-template-rows: 5vw 5vw 10vw
  grid-gap: 1em
  border-radius: 10px
  margin: 0% 5% 0% 5%
  border: 1px solid rgba(0, 0, 0, .6%)

.cc-title, .cc-image
  grid-column: 1 / span 2
  display: flex
  justify-content: space-around

  .cc-title

.cc-1
  display: flex
  justify-content: space-evenly
  padding 25%
