.cocktailcard
  background: #eaeaea
  display: flex
  align-items: center
  justify-content: center
  display: grid
  border-radius: $border-px
  margin: 0% 5% 2% 5%
  padding: 2%
  border: 1px solid rgba(0, 0, 0, .4%)

.cc-image
  height: 200px
  border-radius: 10px

.cc-title, .cc-image, .cc-body,
  grid-column: 1 / span 2
  display: flex
  justify-content: space-evenly
  // border: 1px solid black

.cc-table
  margin-top: 5%
  display: inline
  justify-content: space-evenly
  td
    padding: 0

.cc-body
  display: inline
  justify-content: center
