.t-title, .t-img, .t-ingr
  grid-column: 1 / span 2
  display: flex
  justify-content: space-evenly

.t-img
  border-radius: $border-px
.t-ingr

.t-ul
  display: inline
  justify-content: center
  font-size: 1.2em
  li
    list-style: none
